        <section id="profile">
            <div class="profile_conteiner">

                <div class="user_info_container">
                    <div class="user_image_container">
                        <img src="./images/icons/add-image-photo-icon.png" alt="No image">
                    </div>

                    <div class="user_info">
                        <h2>User name</h2>
                        <p><span>Email: </span>User email</p>
                        <p><span>Number: </span> +380990626544</p>
                        <p><span>Description: </span>User description</p>
                        <p><span>Items in card: </span>52</p>
                    </div>
                </div>

                <div class="additional_info">
                    <div class="sections_btns">
                        <a href="#profile-history">History</a>
                        <a href="#profile-selected">Selected</a>
                    </div>

                    <section id="profile-history" class="subpage">
                        <div class="products_container">
                            <div class="product_item">
                                <div class="rate_discount_panel">
                                    <p class="discount">60%</p>
                                </div>
                            
                                <div class="product_image_conteiner">
                                    <img src="./images/products/213095.750x0.jpeg" alt="No image">
                                </div>
                            
                                <div class="product_decription">
                                    <h3>RADDER</h3>
                                    <p>Толстовка чоловіча Radder Burgos чорна 661921-010</p>
                                </div>
                            
                                <span>Залишилось 5 на складі</span>
                            
                                <div class="cost_add_btn">
                                    <p>125$</p>
                                    <button>Add to card</button>
                                </div>
                            </div>

                            <div class="product_item">
                                <div class="rate_discount_panel">
                                    <p class="discount">10%</p>
                                </div>
                            
                                <div class="product_image_conteiner">
                                    <img src="./images/products/231585.750x0.jpg" alt="No image">
                                </div>
                            
                                <div class="product_decription">
                                    <h3>NEW BALANCE</h3>
                                    <p>Кросівки New Balance 530 білі MR530SG</p>
                                </div>
                            
                                <span>Залишилось 12 на складі</span>
                            
                                <div class="cost_add_btn">
                                    <p>134,99$</p>
                                    <button>Add to card</button>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section id="profile-selected" class="subpage">
                        <div class="products_container">
                            <p>Card is empty.</p>
                        </div>
                    </section>
                </div>
                
            </div>   
        </section>