                    <section id="profile-history" class="subpage">
                        <div class="products_container">
                            <div class="product_item">
                                <div class="rate_discount_panel">
                                    <p class="discount">60%</p>
                                </div>
                            
                                <div class="product_image_conteiner">
                                    <img src="./images/products/213095.750x0.jpeg" alt="No image">
                                </div>
                            
                                <div class="product_decription">
                                    <h3>RADDER</h3>
                                    <p>Толстовка чоловіча Radder Burgos чорна 661921-010</p>
                                </div>
                            
                                <span>Залишилось 5 на складі</span>
                            
                                <div class="cost_add_btn">
                                    <p>125$</p>
                                    <button>Add to card</button>
                                </div>
                            </div>

                            <div class="product_item">
                                <div class="rate_discount_panel">
                                    <p class="discount">10%</p>
                                </div>
                            
                                <div class="product_image_conteiner">
                                    <img src="./images/products/231585.750x0.jpg" alt="No image">
                                </div>
                            
                                <div class="product_decription">
                                    <h3>NEW BALANCE</h3>
                                    <p>Кросівки New Balance 530 білі MR530SG</p>
                                </div>
                            
                                <span>Залишилось 12 на складі</span>
                            
                                <div class="cost_add_btn">
                                    <p>134,99$</p>
                                    <button>Add to card</button>
                                </div>
                            </div>
                        </div>
                    </section>