.profile_conteiner{
    max-width: 1200px;

    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 80px;

}
@media(max-width:1300px){
    .profile_conteiner{
        max-width: 800px;

        margin: auto;
    }
}
@media(max-width:865px){
    .profile_conteiner{
        max-width: 600px;

        margin: auto;
    }
}
@media(max-width:754px){
    .profile_conteiner{
        max-width: 500px;

        margin: auto;
    }
}
.user_image_container{

    width: 200px;
    height: 200px;
    background-color: #ffffff;
    
    display: flex;
    align-items: center;
    justify-content: center;  

    border-radius: 50%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.183);
}
.user_image_container img{
    width: 50px;
}


.user_info_container{
    padding-top: 20px;
    font-size: 16px;

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 50px;

}
@media(max-width:500px){
    .user_info_container{
        padding-top: 20px;
        font-size: 16px;

        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 20px;

    }
    .user_image_container{
        width: 120px;
        height: 120px;
    }
    .user_image_container img{
        width: 30px;
    }
}

.user_info_container p>span{
    color: #716d6d;
}
.user_info h2{
    margin-bottom:10px ;
}

.sections_btns{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.sections_btns a{
    position: relative;
    
    font-size: 20px;
    background-color:#5fd4d4;
    color: white;
    padding: 10px;
    border-radius: 10px;

    transition: 300ms;
}
.sections_btns a:hover{
    background-color: #72c5c5;
}
.sections_btns a::after{
    position: absolute;
    content: "";
    left: 6px;
    bottom: 8px;

    height: 2px;
    width: 0;
    background-color: rgb(255, 255, 255);

    transition: width 300ms;
}
.sections_btns a:hover::after{
    width: 80%;
}































